#dashboard div {
	width: 100%;
  text-align: center;
  font-size: 15px;
	background-color: plum;
	font-family: "Lucida Calligraphy", "Georgia", serif;
	font-style: bold;
	margin: 0;
	line-height: 1.8;
}
#dashboard div h1 {
	margin: 0;
}

div#dashboard {
	width: 100%;
	position: relative;
}

div#score-wrapper {
	width: 100%;
	position: relative;
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: purple;
}
